{{#> layout }}
<div>{{> nav }}</div>
<div>{{> alerts }}</div>

<div class="container-fluid">
  <h3 class="m-0">{{ repo.directory }}</h3>
  <div>
    <a
      class="link-secondary app--pointer app--buttonRequestAction"
      data-url="/repo/{{ repo._id }}/syncAll"
      data-method="POST"
    >
      [sync]
    </a>
  </div>
  <hr>
  <h5>remotes ({{ allRemotes.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>url</th>
        <th>branches</th>
        <th>branchesToCheck</th>
      </tr>
    </thead>
    <tbody>
      {{#each allRemotes }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>{{ name }}</td>
        <td>{{ url }}</td>
        <td>{{ branches }}</td>
        <td>{{ branchesToCheck }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  <hr>
  <h5>branches ({{ branches.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        {{#each remotes }}
        <th>
          <span>{{ name }}</span>
        </th>
        {{/each }}
      </tr>
    </thead>
    <tbody>
      {{#each branches }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>
          <span>{{ name }}</span>
        </td>
        {{#each ../remotes }}
        <td>
          {{#with (prop name ../branchesByRemote) }}
          <span {{#unless backedUp }}class="text-danger"{{/unless }}>
            <strong class="app--code">[{{ commit }}]</strong>
            <span>{{ largeName }}</span>
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalCheckout"
              data-directory="{{ directory }}"
              data-branch-large-name="{{ largeName }}"
              data-branch-short-name="{{ shortName }}"
            >[checkout]</a>
            {{#if (eeq ../name 'local') }}
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalPush"
              data-directory="{{ directory }}"
              data-branch-large-name="{{ largeName }}"
            >[push]</a>
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalPull"
              data-directory="{{ directory }}"
              data-branch-large-name="{{ largeName }}"
            >[pull]</a>
            {{/if }}
          </span>
          {{/with }}
        </td>
        {{/each }}
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>

<form action="/branch/checkout" class="modal fade app--formRequestAction app--modalCheckout" id="appModalCheckout" tabindex="-1" aria-labelledby="appModalCheckoutLabel" aria-hidden="true" method="PATCH">
  <input type="hidden" class="form-control" name="directory">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalCheckoutLabel">Checkout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <label class="form-label">Branch to checkout</label>
          <select class="form-select" aria-label="Select the branch" name="branchLargeName">
            {{#each branchesToCheckout }}
            <option value="{{largeName}}"
            >
              {{ largeName }}
            </option>
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label class="form-label">New branch name</label>
          <input type="text" class="form-control" name="newBranchName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</form>

<form action="/branch/push" class="modal fade app--formRequestAction app--modalPushAndPull" id="appModalPush" tabindex="-1" aria-labelledby="appModalPushLabel" aria-hidden="true" method="PATCH">
  <input type="hidden" class="form-control" name="directory">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalPushLabel">Push</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <label class="form-label">Branch to push</label>
          <select class="form-select" aria-label="Select branch to push" name="branchLargeName">
            {{#each branches }}
            {{#with branchesByRemote.local }}
            <option value="{{ largeName }}">{{ largeName }}</option>
            {{/with}}
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label class="form-label">Remote</label>
          <select class="form-select" aria-label="Select remote to" name="remoteName">
            {{#each remotes }}
            {{#if _id }}
            <option value="{{ name }}">{{ name }}</option>
            {{/if }}
            {{/each }}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Push</button>
      </div>
    </div>
  </div>
</form>

<form action="/branch/pull" class="modal fade app--formRequestAction app--modalPushAndPull" id="appModalPull" tabindex="-1" aria-labelledby="appModalPullLabel" aria-hidden="true" method="PATCH">
  <input type="hidden" class="form-control" name="directory">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalPullLabel">Pull</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <label class="form-label">Branch to pull</label>
          <select class="form-select" aria-label="Select local branch to" name="branchLargeName">
            {{#each branches }}
            {{#with branchesByRemote.local }}
            <option value="{{ largeName }}">{{ largeName }}</option>
            {{/with}}
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label class="form-label">Remote</label>
          <select class="form-select" aria-label="Select remote from" name="remoteName">
            {{#each remotes }}
            {{#if _id }}
            <option value="{{ name }}">{{ name }}</option>
            {{/if }}
            {{/each }}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Pull</button>
      </div>
    </div>
  </div>
</form>

<script src="/js/buttonRequestAction.js"></script>
<script src="/js/formRequestAction.js"></script>
<script src="/js/modals/checkout.js"></script>
<script src="/js/modals/pushAndPull.js"></script>
{{/layout}}
