{{#> layout }}
<div>{{> nav }}</div>
<div>{{> alerts }}</div>

<div class="container-fluid">
  <h3 class="m-0">{{ repo.directory }}</h3>
  <div>
    <a
      class="link-secondary app--pointer app--buttonRequestAction"
      data-url="/repo/{{ repo._id }}/syncAll"
      data-method="POST"
    >
      [sync]
    </a>
  </div>
  <hr>
  <h5>remotes ({{ allRemotes.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody>
      {{#each allRemotes }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>{{ name }}</td>
        <td>{{ url }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  <hr>
  <h5>branches ({{ branches.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        {{#each remotes }}
        <th>{{ name }}</th>
        {{/each }}
      </tr>
    </thead>
    <tbody>
      {{#each branches }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>{{ name }}</td>
        {{#each ../remotes }}
        <td>
          {{#with (prop name ../branchesByRemote) }}
          <span {{#unless backedUp }}class="text-danger"{{/unless }}>
            <strong class="app--code">[{{ commit }}]</strong>
            <span>{{ largeName }}</span>
            {{#if canCheckout }}
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appCheckoutModal"
            >[checkout]</a>
            </li>
            {{/if }}
          </span>
          {{/with }}
        </td>
        {{/each }}
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>

<div class="modal fade" id="appCheckoutModal" tabindex="-1" aria-labelledby="appCheckoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appCheckoutModalLabel">Checkout modal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select" aria-label="Select the remote branch">
          {{#each branchesToCheckout }}
          <option value="{{id}}" {{#unless canCheckout}}disabled class="text-danger"{{/unless}}>
            {{ largeName }}
            {{#unless canCheckout}}(already exists){{/unless}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/buttonRequestAction.js"></script>
{{/layout}}
