{{#> layout }}
<div>{{> nav }}</div>
<div>{{> alerts }}</div>

<div class="container-fluid">
  <h3 class="m-0">{{ repo.directory }}</h3>
  <div>
    <a
      class="link-secondary app--pointer app--buttonRequestAction"
      data-url="/repo/{{ repo._id }}/syncAll"
      data-method="POST"
    >
      [sync]
    </a>
  </div>
  <hr>
  <h5>remotes ({{ allRemotes.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody>
      {{#each allRemotes }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>{{ name }}</td>
        <td>{{ url }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  <hr>
  <h5>branches ({{ branches.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        {{#each remotes }}
        <th>{{ name }}</th>
        {{/each }}
      </tr>
    </thead>
    <tbody>
      {{#each branches }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>{{ name }}</td>
        {{#each ../remotes }}
        <td>
          {{#with (prop name ../branchesByRemote) }}
          <span {{#unless backedUp }}class="text-danger"{{/unless }}>
            <strong class="app--code">[{{ commit }}]</strong>
            <span>{{ largeName }}</span>
          </span>
          {{/with }}
        </td>
        {{/each }}
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>
<script src="/js/buttonRequestAction.js"></script>
{{/layout}}
