{{#> layout }}
<div>{{> nav }}</div>
<div>{{> alerts }}</div>

<div class="container-fluid">
  <h3 class="m-0">{{ repo.directory }}</h3>
  <div>
    <a
      class="link-secondary app--pointer app--buttonRequestAction"
      data-url="/repo/{{ repo._id }}/syncAll"
      data-method="POST"
    >
      [sync]
    </a>
  </div>
  <hr>
  <h5>remotes ({{ allRemotes.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>url</th>
        <th>branches</th>
        <th>branchesToCheck</th>
      </tr>
    </thead>
    <tbody>
      {{#each allRemotes }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>{{ name }}</td>
        <td>{{ url }}</td>
        <td>{{ branches }}</td>
        <td>{{ branchesToCheck }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  <hr>
  <h5>branches ({{ branches.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        {{#each remotes }}
        <th>
          <span>{{ name }}</span>
        </th>
        {{/each }}
      </tr>
    </thead>
    <tbody>
      {{#each branches }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>
          <span>{{ name }}</span>
          {{#with branchesByRemote.local }}
          <a
            class="app--pointer"
            data-bs-toggle="modal"
            data-bs-target="#appModalPush"
            data-local-branch-id="{{ id }}"
          >[push]</a>
          {{/with }}
        </td>
        {{#each ../remotes }}
        <td>
          {{#with (prop name ../branchesByRemote) }}
          <span {{#unless backedUp }}class="text-danger"{{/unless }}>
            <strong class="app--code">[{{ commit }}]</strong>
            <span>{{ largeName }}</span>
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalCheckout"
              data-remote-branch-id="{{ id }}"
              data-branch-name="{{ shortName }}"
            >[checkout]</a>
            </li>
          </span>
          {{/with }}
        </td>
        {{/each }}
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>

<form action="/remote/checkout" class="modal fade app--formRequestAction" id="appModalCheckout" tabindex="-1" aria-labelledby="appModalCheckoutLabel" aria-hidden="true" method="POST">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalCheckoutLabel">Checkout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <label for="remoteBranchIdSelect" class="form-label">Remote branch</label>
          <select id="remoteBranchIdSelect" class="form-select" aria-label="Select the remote branch" name="remoteBranchId">
            {{#each branchesToCheckout }}
            <option value="{{id}}"
            >
              {{ largeName }}
            </option>
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label for="inputBranchName" class="form-label">New branch</label>
          <input type="text" id="inputBranchName" class="form-control" name="branchName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</form>

<form action="/remote/push" class="modal fade app--formRequestAction" id="appModalPush" tabindex="-1" aria-labelledby="appModalPushLabel" aria-hidden="true" method="POST">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalPushLabel">Push</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <label for="localBranchIdSelect" class="form-label">Local branch</label>
          <select id="localBranchIdSelect" class="form-select" aria-label="Select the local branch" name="localBranchId">
            {{#each branches }}
            {{#with branchesByRemote.local }}
            <option value="{{id}}">{{ largeName }}</option>
            {{/with}}
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label for="remoteIdSelect" class="form-label">Remote</label>
          <select id="remoteIdSelect" class="form-select" aria-label="Select the local branch" name="remoteId">
            {{#each remotes }}
            {{#if _id }}
            <option value="{{_id}}">{{ name }}</option>
            {{/if }}
            {{/each }}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Push</button>
      </div>
    </div>
  </div>
</form>

<script src="/js/buttonRequestAction.js"></script>
<script src="/js/formRequestAction.js"></script>
<script src="/js/modals/checkout.js"></script>
<script src="/js/modals/push.js"></script>
{{/layout}}
