{{#> layout }}
<div>{{> nav }}</div>
<div>{{> alerts }}</div>

<div class="container-fluid">
  <h3 class="m-0">{{ repo.directory }}</h3>
  <div>
    <a
      class="link-secondary app--pointer app--buttonRequestAction"
      data-app--url="/repo/{{ repo._id }}/syncAll"
      data-app--method="POST"
    >
      [sync]
    </a>
  </div>
  <hr>
  <div class="row">
    <h5 class="col-auto">remotes ({{ allRemotes.length }})</h5>
    <a
      class="col-auto app--pointer"
      data-bs-toggle="modal"
      data-bs-target="#appModalAddRemote"
      data-app--directory="{{ repo.directory }}"
    >
      [add remote]
    </a>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>url</th>
        <th>branches</th>
        <th>branchesToCheck</th>
        <th>tags</th>
        <th>tagsToCheck</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each allRemotes }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>{{ name }}</td>
        <td>{{ url }}</td>
        <td>{{ branches }}</td>
        <td>{{ branchesToCheck }}</td>
        <td>{{ tags }}</td>
        <td>{{ tagsToCheck }}</td>
        <td>
          <a
            class="link-secondary app--pointer app--buttonRequestAction"
            data-app--url="/remote/{{ _id }}/sync"
            data-app--method="POST"
          >
            [sync]
          </a>
          {{#if (isAllowDestructiveActions) }}
          <a
            class="link-secondary app--pointer"
            data-bs-toggle="modal"
            data-bs-target="#appModalRemoteRemove"
            data-app--directory="{{ directory }}"
            data-app--remote-name="{{ name }}"
          >
            [remove]
          </a>
          {{/if }}
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  <hr>
  <h5>branches ({{ branches.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        {{#each remotes }}
        <th>
          <span>{{ name }}</span>
        </th>
        {{/each }}
      </tr>
    </thead>
    <tbody>
      {{#each branches }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>
          <span>{{ name }}</span>
        </td>
        {{#each ../remotes }}
        <td>
          {{#with (prop name ../byRemote) }}
          <span {{#unless backedUp }}class="text-danger"{{/unless }}>
            <strong class="app--code">[{{ commit }}]</strong>
            <span>{{ largeName }}</span>
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalBranchCheckout"
              data-app--directory="{{ directory }}"
              data-app--branch-large-name="{{ largeName }}"
              data-app--new-branch-name="{{ shortName }}"
            >[checkout]</a>
            {{#if (eeq ../name 'local') }}
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalBranchPush"
              data-app--directory="{{ directory }}"
              data-app--branch-large-name="{{ largeName }}"
              data-app--remote-name=""
            >[push]</a>
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalBranchPull"
              data-app--directory="{{ directory }}"
              data-app--branch-large-name="{{ largeName }}"
              data-app--remote-name=""
            >[pull]</a>
            {{#if (isAllowDestructiveActions) }}
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              data-bs-target="#appModalBranchRemove"
              data-app--directory="{{ directory }}"
              data-app--branch-large-name="{{ largeName }}"
            >[remove]</a>
            {{/if }}
            {{/if }}
          </span>
          {{/with }}
        </td>
        {{/each }}
      </tr>
      {{/each }}
    </tbody>
  </table>
  <h5>tags  ({{ tags.length }})</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        {{#each remotes }}
        <th>
          <span>{{ name }}</span>
        </th>
        {{/each }}
      </tr>
    </thead>
    <tbody>
      {{#each tags }}
      <tr>
        <td>{{ addOne @index }}</td>
        <td>
          <span>{{ name }}</span>
        </td>
        {{#each ../remotes }}
        <td>
          {{#with (prop name ../byRemote) }}
          <span {{#unless backedUp }}class="text-danger"{{/unless }}>
            <strong class="app--code">[{{ commit }}]</strong>
            <span>{{ largeName }}</span>
            {{#if (eeq ../name 'local') }}
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              {{!-- data-bs-target="#appModalBranchPush" --}}
              data-app--directory="{{ directory }}"
              data-app--branch-large-name="{{ largeName }}"
              data-app--remote-name=""
            >[push]</a>
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              {{!-- data-bs-target="#appModalBranchPull" --}}
              data-app--directory="{{ directory }}"
              data-app--branch-large-name="{{ largeName }}"
              data-app--remote-name=""
            >[pull]</a>
            {{#if (isAllowDestructiveActions) }}
            <a
              class="app--pointer"
              data-bs-toggle="modal"
              {{!-- data-bs-target="#appModalBranchRemove" --}}
              data-app--directory="{{ directory }}"
              data-app--branch-large-name="{{ largeName }}"
            >[remove]</a>
            {{/if }}
            {{/if }}
          </span>
          {{/with }}
        </td>
        {{/each }}
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>

<form action="/branch/checkout" class="modal fade app--formRequestAction" id="appModalBranchCheckout" tabindex="-1" aria-labelledby="appModalBranchCheckoutLabel" aria-hidden="true" method="POST">
  <input type="hidden" class="form-control" name="directory">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalBranchCheckoutLabel">Checkout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <p>Repository: <strong data-app--label="directory"></strong></p>
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalBranchCheckout_branchLargeName">Branch to checkout</label>
          <select class="form-select" aria-label="Select the branch" name="branchLargeName" id="appModalBranchCheckout_branchLargeName">
            {{#each allBranches }}
            <option value="{{largeName}}"
            >
              {{ largeName }}
            </option>
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalBranchCheckout_newBranchName">New branch name</label>
          <input type="text" class="form-control" name="newBranchName" id="appModalBranchCheckout_newBranchName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</form>

<form action="/branch/push" class="modal fade app--formRequestAction" id="appModalBranchPush" tabindex="-1" aria-labelledby="appModalBranchPushLabel" aria-hidden="true" method="POST">
  <input type="hidden" class="form-control" name="directory">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalBranchPushLabel">Push</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <p>Repository: <strong data-app--label="directory"></strong></p>
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalBranchPush_branchLargeName">Branch to push</label>
          <select class="form-select" aria-label="Select branch to push" name="branchLargeName" id="appModalBranchPush_branchLargeName">
            {{#each branches }}
            {{#with byRemote.local }}
            <option value="{{ largeName }}">{{ largeName }}</option>
            {{/with}}
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalBranchPush_remoteName">Remote</label>
          <select class="form-select" aria-label="Select remote to" name="remoteName" id="appModalBranchPush_remoteName">
            {{#each remotes }}
            {{#if _id }}
            <option value="{{ name }}">{{ name }}</option>
            {{/if }}
            {{/each }}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Push</button>
      </div>
    </div>
  </div>
</form>

<form action="/branch/pull" class="modal fade app--formRequestAction" id="appModalBranchPull" tabindex="-1" aria-labelledby="appModalBranchPullLabel" aria-hidden="true" method="POST">
  <input type="hidden" class="form-control" name="directory">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalBranchPullLabel">Pull</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <p>Repository: <strong data-app--label="directory"></strong></p>
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalBranchPull_branchLargeName">Branch to pull</label>
          <select class="form-select" aria-label="Select local branch to" name="branchLargeName" id="appModalBranchPull_branchLargeName">
            {{#each branches }}
            {{#with byRemote.local }}
            <option value="{{ largeName }}">{{ largeName }}</option>
            {{/with}}
            {{/each}}
          </select>
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalBranchPull_remoteName">Remote</label>
          <select class="form-select" aria-label="Select remote from" name="remoteName" id="appModalBranchPull_remoteName">
            {{#each remotes }}
            {{#if _id }}
            <option value="{{ name }}">{{ name }}</option>
            {{/if }}
            {{/each }}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Pull</button>
      </div>
    </div>
  </div>
</form>

<form action="/branch/remove" class="modal fade app--formRequestAction" id="appModalBranchRemove" tabindex="-1" aria-labelledby="appModalBranchRemoveLabel" aria-hidden="true" method="POST">
  <input type="hidden" class="form-control" name="directory">
  <input type="hidden" class="form-control" name="branchLargeName">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalBranchRemoveLabel">Remove branch</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <p>Repository: <strong data-app--label="directory"></strong></p>
        </div>
        <div class="mb-1">
          <div class="alert alert-danger" role="alert">
            Take care. This action can be undo it.
          </div>
          <p>
            Are you sure you want remove local branch
            <strong data-app--label="branchLargeName"></strong>?
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</form>

<form action="/remote/add-remote" class="modal fade app--formRequestAction" id="appModalAddRemote" tabindex="-1" aria-labelledby="appModalAddRemoteLabel" aria-hidden="true" method="POST">
  <input type="hidden" class="form-control" name="directory">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalAddRemoteLabel">Add remote</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <p>Repository: <strong data-app--label="directory"></strong></p>
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalAddRemote_remoteName">New remote name</label>
          <input type="text" class="form-control" name="remoteName" id="appModalAddRemote_remoteName">
        </div>
        <div class="mb-1">
          <label class="form-label" for="appModalAddRemote_remoteUrl">Remote URL</label>
          <input type="text" class="form-control" name="remoteUrl" id="appModalAddRemote_remoteUrl">
        </div>
        <div class="mb-1">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="doFetch" id="appModalAddRemote_doFetch">
            <label class="form-check-label" for="appModalAddRemote_doFetch">Fetch immediately</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</form>

<form action="/remote/remove-remote" class="modal fade app--formRequestAction" id="appModalRemoteRemove" tabindex="-1" aria-labelledby="appModalRemoteRemoveLabel" aria-hidden="true" method="POST">
  <input type="hidden" class="form-control" name="directory">
  <input type="hidden" class="form-control" name="remoteName">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appModalRemoteRemoveLabel">Remove Remote</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <p>Repository: <strong data-app--label="directory"></strong></p>
        </div>
        <div class="mb-1">
          <div class="alert alert-danger" role="alert">
            Take care. This action can be undo it.
          </div>
          <p>
            Are you sure you want remove the remote
            <strong data-app--label="remoteName"></strong>?
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</form>

<script src="/js/buttonRequestAction.js"></script>
<script src="/js/formRequestAction.js"></script>
{{/layout}}
